<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rawle's Pokedex</title>
</head>
<body>
    <h1 class="welcome">Welcome to Rawle's Pokedex</h1>
    <div class="container">
        <% for (let i = 0; i < pokemon.length; i++){ %>
            <%=pokemon[i].name %> <br>
            <a href="/pokemon/<%=pokemon[i].id%>"><img src="<%=pokemon[i].img%>" class="w3-round" width="100" height="100"></a><br>
            
            <div class="forms">
               <form action="/pokemon/<%=pokemon[i].id%>/edit" method="GET"><button>Edit</button></form>
               <form action="/pokemon/<%=pokemon[i].id%>?_method=DELETE" method="POST"> <input type="submit" value="Delete"></form><br>
            </div>
      <%  } %> 
    </div>

</body>
</html>