<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="name"><h1><%=pokemon[index].name%></h1></div>
    <h2><img src="<%=pokemon[index].img%>"></h2>
        <ul>
        <% for (let i = 0; i < pokemon[index].type.length; i++){ %>
            <li><%=pokemon[index].type[i]%></li>
     <%   } %>
    </ul>
    <div class="stats">
        <h4>Stats</h4>
            <ul>
                <li>HP:  <%=pokemon[index].stats.hp%></li>
                <li>Attack:  <%=pokemon[index].stats.attack%></li>
                <li>Defense:  <%=pokemon[index].stats.defense%></li>
            </ul>
    </div>
    <a href="/pokemon"><button>Return To Pokedex</button></a>
</body>
</html>

