<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="nameShow"><h1><%=pokemon[index].name%></h1></div>
    <div class="pokemonStats">
            <h2><img src="<%=pokemon[index].img%>" style="border-style: solid; border-width: 3px; border-radius: 15px; border-color:black;"></h2>
       <div class="type"> 
            
            <ul>
                <h4>Type:</h4>
             <% for (let i = 0; i < pokemon[index].type.length; i++){ %>
                <li><%=pokemon[index].type[i]%></li>
                     <%   } %>
            </ul>
        </div>
        <div class="stats">
                <ul>
                    <h4>Stats</h4>
                    <li>HP:  <%=pokemon[index].stats.hp%></li>
                    <li>Attack:  <%=pokemon[index].stats.attack%></li>
                    <li>Defense:  <%=pokemon[index].stats.defense%></li>
                </ul>
        </div>
    </div>
    <a href="/pokemon"><button class="'return">Return To Pokedex</button></a>
    <form action="/pokemon/<%=pokemon[index].id%>?_method=DELETE" method="POST"><input type="submit" value="Delete Pokemon"></form>
</body>
</html>

